@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-grey: #d4d4d4;
    --font-geist: Geist;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-grey: #d4d4d4;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--color-grey);
    font-family: var(--font-geist);
    font-weight: 300;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
@layer components {
    .icon-hover-rounded-purple {
        @apply pc:after:content-[''] pc:after:absolute pc:after:w-[0px] pc:after:h-[0px] pc:after:rounded-full pc:after:bg-purple-stroke03 pc:after:scale-0 pc:after:origin-center pc:after:ease-in-out pc:after:duration-[600ms] pc:after:blur-[2px];
    }

    .icon-hover-rounded-purple:hover {
        @apply pc:after:scale-100 pc:after:blur-[2px] pc:after:h-full pc:after:w-full;
    }

    .icon-hover-rounded-purple:focus-visible {
        @apply pc:after:scale-100 pc:after:blur-[2px] pc:after:h-full pc:after:w-full pc:outline-none;
    }

    .icon-hover-rounded-purple:focus-within {
        @apply pc:outline-none;
    }
    .slider-dot {
        @apply appearance-none bg-transparent inline-flex cursor-pointer border border-red p-0 m-0 w-2 h-2 rounded-full;
    }
    .slider-dot--selected {
        @apply bg-red justify-center;
    }
}
