@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-grey: #d4d4d4;
    --font-geist: Geist;
}
:root:has(.no-doc-scroll) {
    overflow: hidden;
}

@media (prefers-color-scheme: dark) {
    :root {
        overflow-x: hidden;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--color-grey);
    font-family: var(--font-geist);
    font-weight: 300;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
@layer components {
    .icon-hover-rounded-purple {
        @apply after:content-[''] after:absolute after:w-0 after:h-0 after:rounded-full after:bg-purple-stroke03
         pc:transition-width pc:after:ease-in-out pc:after:duration-[600ms] after:blur-[2px];
    }

    .icon-hover-rounded-purple:hover {
        @apply pc:after:h-full pc:after:w-full;
    }

    .icon-hover-rounded-purple:focus-visible {
        @apply pc:after:h-full pc:after:w-full outline-none;
    }

    .icon-hover-rounded-purple:focus-within {
        @apply pc:outline-none;
    }
    .icon-hover-rounded-purple:active {
        @apply after:h-full after:w-full;
    }
    .slider-dot {
        @apply appearance-none bg-transparent inline-flex cursor-pointer border border-red p-0 m-0 w-2 h-2 rounded-full;
    }
    .slider-dot--selected {
        @apply bg-redLight dark:bg-red justify-center;
    }
}
